---
---

@import "{{ site.theme }}";

.btn {

    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(0,0,0,0.7);
    background-color: rgba(0,0,0,0.08);
    border-color: rgba(0,0,0,0.2);
    border-style: solid;
    border-width: 0px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    font-size: 13px;
}

.btn:hover{
    color: rgba(0,0,0,0.7);
    text-decoration:none;
    background-color: rgba(0,0,0,0.08);
    border-color: rgba(0,0,0,0.2);
}
